/* 模糊消失動畫 */
@keyframes fade-out {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}

#previewImg :first-child,:last-child {
  max-width: 200px;
}

.lazy {
  width: 100%;
  height: auto;
  position: relative;
  filter: blur(5px); /* 模糊效果 */
}

.lazy-out {
  animation: fade-out 1s ease-out; /* 使用動畫 */
}
